.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #888888;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 16px;

    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 16px;
}

.header-title {
    flex: 1;

    text-align: center;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2rem;
}

@media (max-width: 600px) {
    .header-title {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

.header-icon-container {
    height: 32px;
    width: 32px;
    flex-shrink: 0;
    padding: 4px;

    border-radius: 100%;
    cursor: pointer;
}

.header-icon-container:hover {
    background: #444444;
}

.header-icon {
    height: 24px;
    width: 24px;
}
