.header-stats-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;
}

@media (max-width: 600px) {
    .header-stats-container {
    width: 300px;
    }
}

@media (max-width: 400px) {
    .header-stats-container {
    width: 200px;
    }
}

.header-stats-item-container {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    flex-wrap: wrap;
}

.header-stats-item {
    display: flex;
    flex-direction: column;
    color: #888888;
    align-items: center;
    text-align: center;
}

.header-stats-item-value {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
}
