.header-help-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.header-help-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-help-item-icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    color: #888888
}
