.header-language-container {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.header-language-icon-container {
    height: 32px;
    width: 32px;
    flex-shrink: 0;
    padding: 4px;

    border-radius: 100%;
    cursor: pointer;
}

.header-language-icon-container:hover {
    background: #444444;
}

.header-language-icon {
    height: 24px;
    width: 24px;
}