.content-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    height: 100%;
}

.content-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;

    flex-shrink: 0;
    padding-bottom: 16px;
}